@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --btnColor: #222222;
    --btnActive: #333333;
    --bodyColor: #222222;
    --fontColor: #000000;
    --iconColor: #fff;
    --contentColor: #c9c9c9;


    --fontTask: #ffffff;
}



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--fontColor);
}
body {
    max-width: 450px;
    max-height: 400px;
    margin: 100px auto;
    text-align: center;
    background-color: var(--bodyColor);
    background-image: url(../img/landscape-9521261_1920.jpg);
}

.container {
    border: solid 1px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 600px;
    background-color: var(--contentColor);
    box-shadow: 10px 5px 7px;
}
#task-input {
    height: 50px;
    outline: none;
    font-size: medium;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px;
    transition: 0.5s;
    color: var(--fontColor);
    &:focus {
        padding: 15px;
    }
}
#task-button {
    height: 50px;
    width: 48px;
    background-color: var(--btnColor);
    border: solid 2px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
    transition: 0.5s;
    border-color: var(--btnColor);
    color: var(--iconColor);
    &:hover {
        height: 50px;
        width: 50px;
    }
    &:active {
        background-color: var(--btnActive);
        border-color: var(--btnActive);
    }
}
ul {
    margin: 1rem;
    overflow: auto;
    max-height: 400px;
    
}


li {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: var(--btnColor);
    color: var(--fontTask);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    transition: 1s;
    &:hover {
        background-color: var(--btnActive);
        padding: 25px;

    }
}

#warning {
    display: none;
    font-weight: bold;
    color: red;
    padding: 10px;
}
#task-name {
    color: var(--fontTask);
    max-width: 250px;
    overflow-wrap: break-word;
}
span {
    user-select: none;
    cursor: pointer;
    padding: 5px;
    transition: 1s;
    color: var(--fontTask);
    &:active {
        background-color: rgba(124, 125, 124, 0.5);
        border-radius: 50%;
    }
}

#footer {
    margin-top: 10px;
    padding: 10px;

    box-shadow: 3px 3px 5px 5px;
    border-radius: 10px;
    background-color: var(--contentColor);
}

@media screen and (max-width: 500px) and (max-height: 1000px){
    .container {
        margin: 1.5rem;
        min-height: 500px;
    }
    
}
@media screen and (max-width:400px) and (max-height: 850px) {
    body {
        max-height: 400px;
    }
    .container {
        min-height: 500px;
    }
    #task-input {
        max-width: 12rem;
    }
    ul {
        max-height: 320px;
    }
    #task-name{
        max-width: 130px;
    }
}
@media screen and (max-width:400px) and (max-height: 670px) {
    html {
        max-height: 500px;
    }
    #task-input {
        max-width: 9rem;
    }
    .container {
        padding: 10px;
        min-height: 370px;
    }
    #footer {
        padding:10px;
    }
    ul {
        max-height: 150px;
    }
    #task-name {
        max-width: 115px;
    }

}